:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";

  /* text colours */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --white: #ffffff;

  /* background colors */
  --main-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --hero-bg: #2f303a;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link.navigation-link.current {
  color: var(--accent-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}

/* header */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
.link.navigation-link:hover,
.link.navigation-link:focus {
  color: var(--accent-cl);
}

.link.mail:hover,
.link.mail:focus {
  color: var(--accent-cl);
}

.link.phone:hover,
.link.phone:focus {
  color: var(--accent-cl);
}

.header-phone {
  color: var(--main-txt-cl);
}

/* hero */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
}
.logo-black {
  color: #212121;
}
.logo-white {
  color: var(--white);
}

.hero {
  background-color: var(--hero-bg);

}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.main-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* benefits section */

.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}
.text-benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}

.title.business {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* section team */

.team {
  background-color: var(--secondary-bg);
}
.team.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.team-member.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
}

/* footer */

.footer {
  background-color: #2f303a;
}
.address {
  font-family: inherit;
  font-style: normal;
}
.address-text {
  color: var(--white);
}
.address-phone {
  color: rgba(255, 255, 255, 0.6);
}

.secondary-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
